<!--{eval $_TPL['titles'] = array('Gift');}-->
<!--{template header}-->
<style type="text/css">
@import url(template/blue/style.css);
@import url(gift/css/ask_main.css);
</style>

<div class="c_header a_header">
  <div class="avatar48">
    <a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],small)}--></a>
  </div>
  <h1>{lang gifts_my_title}</h1>
  <span class="spacelink">{gifts_my_subtitle}</span>
</div>
<div class="tabs_header">
  <ul class="tabs">
    <li><a href="gift.php"><span>{lang gifts_all}</span></a></li>
    <li><a href="gift.php?do=view"><span>{lang gifts_my}</span></a></li>
  </ul>
</div>
<div style="padding: 1em 2em;">
  <ul>
    <!--{if $list}-->
    <!--{loop $list $val}-->
    <li style="padding:10px;float:left;text-align:center;width:200px;height:200px;">
      <!--{if $val['uid'] == 0}-->{lang gift_someone}<!--{else}--><a href="{$val['uid']}">$val['username']</a><!--{/if}--> {lang gift_sent_you}<br>
      <img src="gift/gift_model/image/{$val['gift']}">
      <!--{if $val['message'] != ''}--><br>{lang message}: {$val['message']}<!--{/if}-->
      <!--{if $val['uid'] != 0}--><br><a href="gift.php?uid={$val['uid']}">{lang gift_reply_gift}</a><!--{/if}-->
      <br><span class="time"><!--{date('d-M H:i',$val[dateline],1)}--></span>
    </li>
    <!--{/loop}-->
    <!--{else}-->
    {lang gifts_no}
    <!--{/if}-->
  </ul>
  <div style="clear:both;"></div>
  <div class="page">$multi[html]</div>
</div>

<div class="f_status f_status_w s_clear">
  <a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>

<div class="IND_lwide" valign="left">
  <div class="wdL"></div>
  <p align="right">
    <span class="fl" valign="left">{lang gift_version}</span>  
  </p>
  <div class="wdR" valign="left">
    <p align="right"></p>
  </div>  
  <p align="right">  
    <span class="fr" valign="left">
      {lang gift_copyright}
    </span>    
  </div>
</div>

<!--{template footer}-->
