<!--{template header}-->

<!--{eval 
$icons = array(
	0 => lang('no_icon'),
	1 => '<img src="image/poke/cyx.gif" /> '.lang('icon_1'),
	2 => '<img src="image/poke/wgs.gif" /> '.lang('icon_2'),
	3 => '<img src="image/poke/wx.gif" /> '.lang('icon_3'),
	4 => '<img src="image/poke/jy.gif" /> '.lang('icon_4'),
	5 => '<img src="image/poke/pmy.gif" /> '.lang('icon_5'),
	6 => '<img src="image/poke/yb.gif" /> '.lang('icon_6'),
	7 => '<img src="image/poke/fw.gif" /> '.lang('icon_7'),
	8 => '<img src="image/poke/nyy.gif" /> '.lang('icon_8'),
	9 => '<img src="image/poke/gyq.gif" /> '.lang('icon_9'),
	10 => '<img src="image/poke/dyx.gif" /> '.lang('icon_10'),
	11 => '<img src="image/poke/yw.gif" /> '.lang('icon_11'),
	12 => '<img src="image/poke/ppjb.gif" /> '.lang('icon_12'),
	13 => '<img src="image/poke/yyk.gif" /> '.lang('icon_13'),
	);
}-->

<!--{if $op == 'send' || $op == 'reply'}-->

<!--{if $_SGLOBAL[inajax]}-->

	<h1>{lang send_hello}</h1>
	<a href="javascript:hideMenu();" title="{lang close}" class="float_del">{lang close}</a>

<!--{else}-->

	<h2 class="title"><img src="image/icon/poke.gif">{lang send_hello}</h2>
	<div class="tabs_header">
		<ul class="tabs">
			<li><a href="cp.php?ac=poke"><span>{lang hello_received}</span></a></li>
			<li class="null"><a href="cp.php?ac=poke&op=send">{lang send_hello}</a></li>
		</ul>
	</div>
<!--{/if}-->

<div class="popupmenu_inner" id="__pokeform_{$tospace[uid]}">
<form method="post" id="pokeform_{$tospace[uid]}" name="pokeform_{$tospace[uid]}" action="cp.php?ac=poke&op=$op&uid=$tospace[uid]">
	<table cellspacing="0" cellpadding="3">
		<tr>
		<!--{if $tospace[uid]}-->
			<th width="52"><div class="avatar48"><a href="space.php?uid=$tospace[uid]"><!--{avatar($tospace[uid],small)}--></div></th>
		<!--{else}-->
			<th></th><td class="l_status">{lang user_name}: <input type="text" name="username" value=""></td></tr>
			<tr><th></th>
		<!--{/if}-->
			<td>
				<!--{if $tospace[uid]}-->
					{lang to} <strong>{$_SN[$tospace[uid]]}</strong> {lang send_hello}: <br />
				<!--{/if}-->
				<ul class="list2col" style="width:300px;">
					<!--{loop $icons $k $v}-->
					<li><input type="radio" name="iconid" id="poke_$k" value="{$k}" /><label for="poke_$k">{$v}</label></li>
					<!--{/loop}-->
				</ul>
				<input type="text" name="note" id="note" value="" size="16" class="t_input" onkeydown="ctrlEnter(event, 'pokesubmit_btn', 1);" style="width: 300px;" maxlength="25" />
				<div class="gray">{lang hello_content_optional}</div>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="hidden" name="pokesubmit" value="true" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="button" name="pokesubmit_btn" id="pokesubmit_btn" value="{lang form_sure_yes}" class="submit" onclick="ajaxpost('pokeform_{$tospace[uid]}', 'poke_send', 2000)" />
				<!--{else}-->
				<input type="submit" name="pokesubmit_btn" id="pokesubmit_btn" value="{lang form_sure_yes}" class="submit" />
				<!--{/if}-->
			</td>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{else}-->

<h2 class="title"><img src="image/icon/poke.gif">{lang send_hello}</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="cp.php?ac=poke"><span>{lang hello_received}</span></a></li>
		<li class="null"><a href="cp.php?ac=poke&op=send">{lang send_hello}</a></li>
	</ul>
</div>

<div class="h_status">{lang hello_reply_ignore}<span class="pipe">|</span><a href="cp.php?ac=poke&op=ignore" id="a_poke" onclick="ajaxmenu(event, this.id, 0, 2000, 'mypoke_all')">{lang ignore_all}</a></div>

<!--{if $list}-->
<style>
.list_td td { border-bottom: 1px solid #EBE6C9; padding: 0.5em; }
.list_td img { vertical-align: middle; }
</style>
<div class="c_form" id="poke_ul">
	<table cellpadding="0" cellspacing="0" width="100%" class="list_td">
		<!--{loop $list $key $value}-->
		<tbody id="poke_$value[uid]">
		<tr>
			<td width="70">
				<div class="avatar48">
				<a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a>
				</div>
			</td>
			<td>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a> <span class="gray"><!--{date('m-d H:i',$value[dateline],1)}--></span></p>
				
				<div style="padding:10px 0 10px 0;font-size:14px;">
				<!--{if $value[iconid]}-->{$icons[$value[iconid]]}<!--{else}-->{lang greeting_send}<!--{/if}-->
				<!--{if $value[note]}-->,{lang and_said}: $value[note]<!--{/if}-->
				</div>
				<div style="padding:10px 0 10px 0;">
				<a href="cp.php?ac=poke&op=reply&uid=$value[uid]" id="a_p_r_$value[uid]" onclick="ajaxmenu(event, this.id, 1)" class="submit">{lang reply_hello}</a> 
				<!--{if !$value['isfriend']}--><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)" class="submit">{lang friend_add}</a> <!--{/if}-->
				</div>

			</td>
			<td align="right" width="80">
			<a href="cp.php?ac=poke&op=ignore&uid=$value[uid]" id="a_p_i_$value[uid]" onclick="ajaxmenu(event, this.id, 0, 2000, 'mypoke')" class="button">{lang ignore}</a>
			</td>
		</tr>
		</tbody>
		<!--{/loop}-->
	</table>
	<div class="page">$multi</div>
</div>

<!--{else}-->
<div class="c_form">
	{lang no_greetings}
</div>
<!--{/if}-->

<script>
	function mypoke(id) {
		var liid = id.substr(6);
		$('poke_'+liid).style.display = "none";
	}
	function mypoke_all(id) {
		$('poke_ul').innerHTML = "{lang all_greetings_ignored}";
	}
</script>

<!--{/if}-->

<!--{template footer}-->
