<!--{template header}-->
<h2 class="title"><a href="do.php?ac=stat">{lang site_trends_and_stats}</a></h2>

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>{lang stats_classification}</h2>
		<p>{lang stats_classification_intro}</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li>
			<strong>{lang basic_data}</strong>: 
			<a href="do.php?ac=stat"$actives[all]>{lang comprehensive_overview}</a> &nbsp;
			<!--{loop $cols['login'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>{lang new_content}</strong>: 
			<!--{loop $cols['add'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>{lang content_interaction}</strong>: 
			<!--{loop $cols['comment'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>{lang users_interaction}</strong>: 
			<!--{loop $cols['space'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
	</ul>
	</td></tr>
</table>
<br>

<table cellspacing="0" cellpadding="0" class="formtable">
	<!--{if $type=='all'}-->
	<caption>
		<h2>{lang comprehensive_overview}</h2>
		<p>
		{lang comprehensive_overview_intro}
		</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li><strong>{lang users_visits}</strong>: {lang users_visits_intro}</li>
		<li><strong>{lang new_content}</strong>: {lang new_content_intro}</li>
		<li><strong>{lang content_interaction}</strong>: {lang content_interaction_intro}</li>
		<li><strong>{lang users_interaction}</strong>: {lang users_interaction_intro}</li>
	</ul>
	</td></tr>
	<!--{else}-->
	<caption>
		<h2><!--{eval echo cplang("do_stat_$type");}--></h2>
	</caption>
	<!--{/if}-->
	<tr><td>
	<div class="borderbox">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,45,0" width="750" height="300">
		  <param name="movie" value="image/stat.swf?$statuspara" />
		  <param name="quality" value="high" />
		  <embed src="image/stat.swf?$statuspara" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="750" height="300"></embed>
		</object>
	</div>
	</td></tr>
</table>

<!--{template footer}-->