<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Manyou Contact | Manyou</title>

  <script type="text/javascript" src="widgets/misc/scripts/ab.js"></script>
  <link href="widgets/misc/styles/ab.css" rel="stylesheet" type="text/css" />
</head>

<body onload="MYABC.doOnLoad1()">

    <div class="pagePart baseContainer" id="header">
      <div class="inner">
        <h1>您想从哪里寻找好友?</h1>
      </div>
    </div>

    <div class="pagePart baseContainer" id="body">
      <div class="inner">

        <div class="baseContainer chooser" id="services">
          <form autocomplete="false" action="/ab_chooser/login" onsubmit="return MYABC.onSubmit1(this)">

            <input type="hidden" value="" name="emails"/>
            <input type="hidden" value="" name="cb"/>
            <input type="hidden" value="" name="host"/>
            <input type="hidden" value="" name="actionType"/>
            <input type="hidden" value="" name="ta"/>
            <input type="hidden" value="_to_debug_" name="ImportMethod"/>
            <input type="hidden" value="" name="hasn"/>
            <input type="hidden" value="" name="useifm"/>

            <ul class="baseContainer">
							              <li>
                <dl>
                  <dt>
                    <input type="radio" name="ab" value="Sohu" id="ab_Sohu"  />
                  </dt>
                  <dd>
                    <label for="ab_Sohu"> <img src="/misc/images/ab/logo_sohu.gif" alt="Sohu"> </label>
                  </dd>
                </dl>
              </li>
			  								              <li>
                <dl>
                  <dt>
                    <input type="radio" name="ab" value="Gmail" id="ab_Gmail"  />
                  </dt>
                  <dd>
                    <label for="ab_Gmail"> <img src="/misc/images/ab/logo_gmail.gif" alt="Gmail"> </label>
                  </dd>
                </dl>
              </li>
			  								              <li>
                <dl>
                  <dt>
                    <input type="radio" name="ab" value="Sina" id="ab_Sina"  />
                  </dt>
                  <dd>
                    <label for="ab_Sina"> <img src="/misc/images/ab/logo_sina.gif" alt="Sina"> </label>
                  </dd>
                </dl>
              </li>
			  								              <li>
                <dl>
                  <dt>
                    <input type="radio" name="ab" value="163" id="ab_163"  />
                  </dt>
                  <dd>
                    <label for="ab_163"> <img src="/misc/images/ab/logo_163.gif" alt="163"> </label>
                  </dd>
                </dl>
              </li>
			  								              <li>
                <dl>
                  <dt>
                    <input type="radio" name="ab" value="Yahoo" id="ab_Yahoo"  />
                  </dt>
                  <dd>
                    <label for="ab_Yahoo"> <img src="/misc/images/ab/logo_yahoo.gif" alt="Yahoo!"> </label>
                  </dd>
                </dl>
              </li>
			  								              <li>
                <dl>
                  <dt>
                    <input type="radio" name="ab" value="IMMSN" id="ab_IMMSN"  />
                  </dt>
                  <dd>
                    <label for="ab_IMMSN"> <img src="/misc/images/ab/logo_immsn.gif" alt="IMMSN"> </label>
                  </dd>
                </dl>
              </li>
			  								              <li>
                <dl>
                  <dt>
                    <input type="radio" name="ab" value="Qzone" id="ab_Qzone"  />
                  </dt>
                  <dd>
                    <label for="ab_Qzone"> <img src="/misc/images/ab/logo_imqq.gif" alt="Qzone"> </label>
                  </dd>
                </dl>
              </li>
			  				
              
              
            </ul>

            <input id="next_btn" type="image" src="/misc/images/ab/button_next.jpg" alt="下一步" />

          </form>
          
        </div><!--end of chooser-->
        <div class="baseContainer" id="note">
          本向导可以帮助您从各种邮箱和服务中, 快速找到联系人列表.
          <br/>
          请在以上项目中选择一项, 并按[下一步]按钮继续
        </div>
      </div>
    </div><!--end of #body-->
    <div class="pagePart baseContainer" id="footer">
      <div class="inner">
        <a href="http://www.manyou.com/www/" target="_blank">
          <img src="/misc/images/ab/poweredby.jpg" style="margin-top:10px; margin-left:300px;" alt="powered by manyou" />
        </a>
      </div>
    </div>

  </body>
</html>