<!-- ========================================= -->
<!-- //vot !!!!! START SKIN SWITCHER !!!!!! -->

		<!--{if $_TPL['templates']}-->
		<div class="chostlp" title="{lang style_switch}"><img id="chostlp" src="{$_TPL['default_template']['icon']}" onmouseover="showMenu(this.id)" alt="{$_TPL['default_template']['name']}" /></div>
		<ul id="chostlp_menu" class="chostlp_drop" style="display: none">
		<!--{loop $_TPL['templates'] $value}-->
			<li><a href="cp.php?ac=common&op=changetpl&name=$value[name]" title="$value[name]"><img src="$value[icon]" alt="$value[name]" /></a></li>
		<!--{/loop}-->
		</ul>
		<!--{/if}-->
<!-- //vot !!!!! END SKIN SWITCHER !!!!!! -->
<!-- ========================================= -->
